*{
    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px solid red; */
    overflow-x: hidden;
    overflow-y: hidden;
}
p, option{
    font-family: 'Oswald', sans-serif;
    
}
.bara-sus{
    width: 100vw;
    height: 9vh;
    background-color: #e9b5b7;
    position: absolute;
}
.interact{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.interact img{
    height: 7vh;
}
.logout-img{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.logout-img img{
    height: 7vh;

}
.cover{
    width: 100vw;
    height: 100vh;
    
}
.imagine-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 0% 50%;
    position: absolute;
    z-index: -1; 
}

.text{
    margin-top: 20vh;
    margin-left: 50vw;
}
.text p{
    font-size: 70px;
}

@media screen and (max-width: 650px) {
    .interact{
        padding-left: 20px;
        padding-top: 7px;
    }
    .logout-img{
        padding-top: 5px;
    }
    
}

@media screen and (max-width: 1350px) {
    .text p{
        font-size: 50px;
    }
    .text{
        margin-right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .imagine-bg{
        object-position: 50% 20% !important;
    }
}

@media screen and (max-width: 800px) {
    .text p{
        font-size: 50px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    .text{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 470px) {
    .text p{
        font-size: 35px;
    }
}
@media screen and (max-width: 370px) {

}