*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cover{
    width: 100vw;
    height: 100vh;
    
}
.imagine-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 100% 0;
    position: absolute;
    z-index: -1;
}
.titlu{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 5px;
}
.login{
    width: 500px;
    padding-top: 30vh;
    margin-left: 55vw;
}

.spate-input{
    margin-bottom: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
}
.buton-login{
    background-color: #A61A26 !important;
    font-size: 24px;
    color: white;
    width: 300px; 
}
.msg-eroare{
    color: white;
}



@media screen and (max-width: 1150px) {
    .login{
        margin-left: 40vw;
    }
}

@media screen and (max-width: 860px) {
    .login{
        width: 100%;
        padding-top: 0vh;
        margin-left: 0vw;
        height: 100%;

    }
    form{
        width: 80vw;
        align-self: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imagine-bg{
        object-position: 0% 0;
    }
}

@media screen and (max-width: 450px) {
    .imagine-bg{
        object-position: 20% 0;
    }
}

.bara-sus{
    width: 100vw;
    height: 9vh;
    position: absolute;
}
.interact{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.interact img{
    height: 7vh;
}

@media screen and (max-width: 650px) {
    .interact{
        padding-left: 20px;
        padding-top: 7px;
    }
    .logout-img{
        padding-top: 5px;
    }
    
}