*{
    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px solid red; */
    overflow-x: hidden;
    overflow-y: hidden;
}
p, h3{
    font-family: 'Oswald', sans-serif;
    
}
h3{
    text-align: center;
}

.bara-sus{
    width: 100vw;
    height: 9vh;
    /* background-color: #e9b5b7; */
    position: absolute;
}
.interact{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.interact img{
    height: 7vh;
}
.logout-img{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.logout-img img{
    height: 7vh;

}
.cover{
    width: 100vw;
    height: 100vh;
    
}
.imagine-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 0%;
    position: absolute;
    z-index: -1; 
}


::-webkit-scrollbar {
    display: none;
}
.spate{
    width: 500px;
    background-image: url("/imagini/note-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    height: 80vh;
    margin-top: 100px;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}
.foaie{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.ecran{
    height: 100vh;
    width: 100vw;
    
    
}
.insta{
    height: 100px;
}
.persoana{
    border: 2px solid #980106;
    padding: 20px;
    margin-bottom: 20px;
}
.dr p{
    text-align: center;
}
.stanga p{
    font-size: 20px;
    margin: 5px;
}




@media screen and (max-width: 650px) {
    .interact{
        padding-left: 20px;
        padding-top: 7px;
    }
    .logout-img{
        padding-top: 5px;
    }



}

@media screen and (max-width: 800px) {
    .spate{   
        height: 90vh;
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .spate{
        width: 100vw;
        background-position: 50% 0%;
    }
}

@media screen and (max-width: 370px) {

}

@media(min-width: 800px)
{
    .AnimationIncrease0, .AnimationIncrease1, .AnimationIncrease2, .AnimationIncrease3
    {
        transition: transform 0.2s;
    }

    .AnimationIncrease0:hover, .AnimationIncrease1:hover, .AnimationIncrease2:hover, .AnimationIncrease3:hover
    {
        opacity: 80%;
    }

    .AnimationIncrease0:hover
    {
        transform: scale(1.05);
    }

    .AnimationIncrease1:hover
    {
        transform: scale(1.1);
    }

    .AnimationIncrease2:hover
    {
        transform: scale(1.15);
    }


    .AnimationIncrease3:hover
    {
        transform: scale(1.25);
    }

    .AnimationIncrease4:hover
    {
        transform: scale(1.35);
    }
}